In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("/content/Students_Performance.csv")

In [7]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [8]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

a. Find out how many males and females participated in the test.

In [9]:
gender_counts = data['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

b. What do you think about the students' parental level of education?

In [10]:
parental_education_counts = data['parental level of education'].value_counts()
print(parental_education_counts)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

c. Who scores the most on average for math, reading, and writing based on

i.Gender

In [11]:
gender_math_scores = data.groupby('gender')['math score'].mean()
gender_reading_scores = data.groupby('gender')['reading score'].mean()
gender_writing_scores = data.groupby('gender')['writing score'].mean()

In [12]:
print("Average math scores by gender:")
print(gender_math_scores)
print("Average reading scores by gender:")
print(gender_reading_scores)
print("Average writing scores by gender:")
print(gender_writing_scores)

Average math scores by gender:
gender
female    63.376448
male      68.821577
Name: math score, dtype: float64
Average reading scores by gender:
gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64
Average writing scores by gender:
gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

ii. Test preparation course

In [21]:
test_prep_math_scores = data.groupby('test preparation course')['math score'].mean()
test_prep_reading_scores = data.groupby('test preparation course')['reading score'].mean()
test_prep_writing_scores = data.groupby('test preparation course')['writing score'].mean()

In [22]:
print("Average math scores by test preparation course:")
print(test_prep_math_scores)
print("Average reading scores by test preparation course:")
print(test_prep_reading_scores)
print("Average writing scores by test preparation course:")
print(test_prep_writing_scores)

Average math scores by test preparation course:
test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64
Average reading scores by test preparation course:
test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64
Average writing scores by test preparation course:
test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

d. What do you think about the scoring variation for math, reading, and writing based on

i.Gender

In [24]:
gender_math_var = data.groupby('gender')['math score'].var()
gender_reading_var = data.groupby('gender')['reading score'].var()
gender_writing_var = data.groupby('gender')['writing score'].var()

In [29]:
print("Math score variation by gender:")
print(gender_math_var)
print("Reading score variation by gender:")
print(gender_reading_var)
print("Writing score variation by gender:")
print(gender_writing_var)

Math score variation by gender:
gender
female    256.958593
male      211.889097
Name: math score, dtype: float64
Reading score variation by gender:
gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64
Writing score variation by gender:
gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

ii. Test preparation course

In [27]:
test_prep_math_var = data.groupby('test preparation course')['math score'].var()
test_prep_reading_var = data.groupby('test preparation course')['reading score'].var()
test_prep_writing_var = data.groupby('test preparation course')['writing score'].var()

In [28]:
print("Math score variation by test preparation course:")
print(test_prep_math_var)
print("Reading score variation by test preparation course:")
print(test_prep_reading_var)
print("Writing score variation by test preparation course:")
print(test_prep_writing_var)

Math score variation by test preparation course:
test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64
Reading score variation by test preparation course:
test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64
Writing score variation by test preparation course:
test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

e. Give bonus points to the top 25% of students based on their math score

In [16]:
top_25_percentile_math_score = data['math score'].quantile(0.75)
data['bonus points'] = data.apply(lambda row: 10 if row['math score'] >= top_25_percentile_math_score else 0, axis=1)

In [18]:
data['bonus points']

0       0
1       0
2       0
3       0
4       0
       ..
995    10
996    10
997    10
998    10
999    10
Name: bonus points, Length: 1000, dtype: int64

In [19]:
data['bonus points'].value_counts()

0     745
10    255
Name: bonus points, dtype: int64